.primary {
  color: var(--main-primary-dark);
}

.accent {
  color: var(--main-accent-dark);
}

.outline-primary,
.outline-accent {
  border-radius: var(--small-radius);
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.6rem;
  margin: 0.6rem;
}

.outline-primary {
  border: 3px solid var(--main-primary-dark);
}

.outline-accent {
  border: 3px solid var(--main-accent-dark);
}
